@use 'variaveis';

.header {
    width: 100vw;
    background-color: variaveis.$corFundo;
    height: 40px;
    color: variaveis.$corTextoSecundario;
    font-family: AmazonMedium;
    font-size: 16px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    .show__mobile {
        display: none;

        @media  (max-width: 1023px) {
            display: block;
        }
    }

    @media (max-width: 1023px) {
        height: 60px;

        .hide__mobile {
            display: none;
        }
    }

    .container {
    display: flex;
    align-items: center;
    height: 100%;

    @media (max-width: 1023px) {
        width: 80vw;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    > a {
        text-decoration: none;
        white-space: nowrap;
        color: variaveis.$corTextoSecundario;
        margin-right: 16px;
    }
    }

    &__img-logo {
        width: 100px;
        height: 60%;

        @media (max-width: 768px) {
            width: 30%;
            height: 50%;
        }
    }

    &__menu {
        margin-right: 40px;
        height: 100%;

        @media  (max-width: 768px) {
            margin: 0;

            > h3 {
                padding: 9px;
                position: relative;
                height: 100%;

                &:active {
                    background-color: variaveis.$corBtn;
                    color: variaveis.$corTextoPrincipal;
                }
            }
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            @media (max-width: 768px) {
                
                position: absolute;
                top: 98%;
                left: 0;
                display: none;
                width: 100vw;
            }

            &__item {
                padding: 0 8px;
                white-space:  nowrap;
                cursor: pointer;
                display: flex;
                align-items: center;
                position: relative;
                height: 100%;

                &:hover {
                    background-color: variaveis.$corBtn;
                    color: variaveis.$corTextoPrincipal;
                }

                @media (max-width: 1023px) {
                    padding-left: 16px;
                    background-color: variaveis.$corBtn;

                &:last-child {
                box-shadow: 0px 50px 50px black;
                }
                }
            }
        }
    }

    .item__home{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: variaveis.$corBtn;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.474);

        @media (max-width: 1023px) {
            position: inherit;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
            background-color: variaveis.$corTextoPrincipal;
            color: black;
        }

        li {
            padding: 10px;

            &:hover {
                color: black;
                background-color: variaveis.$corTextoPrincipal;;
            }
        }

        &__last-child {
            &:hover {
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
    }
    
    .item__loja {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: variaveis.$corBtn;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.474);

        @media (max-width: 1023px) {
            position: inherit;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
            background-color: variaveis.$corTextoPrincipal;
            color: black;
        }

        li {
            padding: 10px;

            &:hover {
                color: black;
                background-color: variaveis.$corTextoPrincipal;;
            }
        }

        &__last-child {
            &:hover {
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
    }

    .item__categorias {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        height: 288px;
        width: 336px;
        background-color: variaveis.$corBtn;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.474);

        @media (max-width: 768px) {
            position: inherit;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
            background-color: variaveis.$corTextoPrincipal;
            color: black;
        }

        .colunas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: 16px;
            margin-right: 16px;
        }

        h3 {
            padding: 10px;
            color: variaveis.$corTextoPrincipal;
            cursor: default;

            @media (max-width:1023px) {
                color: black;
            }
        }

        li {
            padding: 10px;

            &:hover {
                color: black;
                background-color: variaveis.$corTextoPrincipal;;
            }
        
        }
    }

    &__search {
        label {
            cursor: pointer;
            margin-right: 16px;
        }

        input {
            display: none;
        }
    }

    &__select {
        margin-right: 16px;
        background-color: variaveis.$corFundo;
        border: none;
        color: variaveis.$corTextoSecundario;
        cursor: pointer;
    }

    &__link {
        &__img-profile {
            width: 30px;
            height: 30px;
        }
    }
}