@use 'variaveis';

.hero {
    background-image: url(../../dist/imagens/mario_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: variaveis.$corTextoPrincipal;
    width: 100%;

    .container {
        padding-top: 160px;
        position: relative;

        p:last-child {
            margin-top: 24px;
            text-shadow: 2px 1px 4px rgb(0, 0, 0);
            text-decoration: underline;
        }
    }

    &__gradient {
        background-image: linear-gradient(to bottom, transparent, variaveis.$corFundo);
        height: 100px;
    }

    &__logo-prime {
        padding-top: 32px;
        position: absolute;
        top: 0;
        left: 80%;
        width: 16vw;
        max-width: 100px;
    }

    &__logo-mario {
        margin: 24px 0;

        img {
            width: 184px;
        }
    }

    &__description {
        text-shadow: 2px 1px 4px black;
    }

    &__info {
        display: flex;
        align-items: center;

        p {
            color: variaveis.$corTextoSecundario;
            text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.582);
        }

        &__btn {
            height: 18%;
            margin: 0 6px;
            padding: 2px 8px;
            border-radius: 5px;
            border: none;
            background-color: variaveis.$corBtn;
            color: variaveis.$corTextoPrincipal;
        }

        img {
            height: 18px;
        }
    }
}