@use 'variaveis';

.more {
    margin-top: 64px;

    &__links {
        display: flex;
        width: min-content;
        margin: 0 auto;


        &__item {
            color: variaveis.$corTextoSecundario;
            text-decoration: none;
            margin-right: 16px;

            &--is-active{
                color: variaveis.$corTextoPrincipal;
                border-bottom: 3px solid variaveis.$corTextoPrincipal;;
            }
        }
    }

    &__movies {
        width: 100%;
        margin-top: 16px;

        h2 {
            color: variaveis.$corTextoPrincipal;;
        }
        &__carousel {
            margin-top: 8px;

            &__item {
                width: 30%;
                max-width: 280px;
                margin-right: 8px;
                margin-bottom: 8px;
                background-color: black;
                border-radius: 8px;

                img{
                    width: 100%;
                    border-radius: 8px;
                }

                &__content {
                    padding: 4px 16px 8px 16px;
                    display: none;

                    .div-flex {
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;
                        justify-content: space-between;

                        a {
                            margin-right: 6px;
                            background-color: variaveis.$corBtn;
                            border-radius: 50%;
                            padding: 4px;
                            width: 30px;
                            height: 30px;
                            transition: transform 0.2s ease;
                            color: variaveis.$corTextoPrincipal;

                            &:hover {
                                background-color: variaveis.$corTextoPrincipal;
                                transform: scale(1.02);
                                color: black;
                            }

                            span {
                                font-size: 22px;
                            }
                        }

                        p {
                            color: variaveis.$corTextoPrincipal;
                        }
                    }

                    h3 {
                        color: variaveis.$corTextoPrincipal;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                        margin-right: 6px;
                    }
            
                    > p {
                        color: variaveis.$corTextoSecundario;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    &__detalhes {
        margin-top: 16px;

        h2 {
            color: variaveis.$corTextoPrincipal;
        }

        &__duas-cores {
            margin: 16px 0;

            h3 {
                color: variaveis.$corTextoPrincipal;
                margin-bottom: 8px;
            }

            p {
                color: variaveis.$corTextoSecundario;
            }
        }

        &__atores {
            margin: 16px 0;
            color: variaveis.$corTextoPrincipal;
        }

        > p {
            color: variaveis.$corTextoSecundario;

            a{
                color: variaveis.$corTextoPrincipal;
            }
        }

        hr {
            margin-top: 24px;
            color: variaveis.$corTextoSecundario;
        }
    }
}