@use 'variaveis';

.plans {

    div {
        display: flex;
        align-items: center;

        img {
            width: 16px;
            height: 16px;
            margin-right: 6px;
        }

        p {
            color: variaveis.$corTextoPrincipal;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        @media (max-width: 728px) {
            width: 100%;
            text-align: center;
        }

        &__item {
            margin-right: 8px;
            margin-bottom: 8px;
            background-color: variaveis.$corBtn;
            padding: 6px 16px;
            border-radius: 10px;
            transition: transform 0.2s ease;

            &:hover {
                background-color: variaveis.$corTextoPrincipal;
                transform: scale(1.02);
            }

            @media (max-width: 728px) {
                width: 100%;
                background-color: variaveis.$corTextoPrincipal;
            }

            &__link {
                color: variaveis.$corTextoPrincipal;
                text-decoration: none;
                transition: transform 0.3s ease;
                transform: scale(0.5);

                &:hover {
                    color: black;
                }

                @media (max-width: 728px) {
                    color: black;
                }

                .letter-spacing {
                    letter-spacing: .5px;
                }

                p {
                    white-space:  nowrap;
                }
            }
        }
    }

    &__list-btn {
        display: flex;
        margin-top: 8px;

        @media (max-width: 728px) {
            justify-content: space-between;
        }

        &__item {
            margin-right: 8px;
            
            &__link {

                span {
                    color:  variaveis.$corTextoPrincipal;
                    font-size: 24px;
                    background-color: variaveis.$corBtn;
                    border-radius: 50%;
                    padding: 14px;
                    transition: transform 0.2s ease;

                    &:hover {
                        background-color: variaveis.$corTextoPrincipal;
                        color: black;
                        transform: scale(1.1);
                    }
                }
                
            }
        }
    }

    > p {
        color: variaveis.$corTextoSecundario;
        font-family: AmazonMedium;
        margin-top: 8px;
    }
}