@use 'variaveis';
@use 'header';
@use 'hero';
@use 'plans';
@use 'more';
@use 'footer';

@font-face {
    font-family: AmazonBold;
    src: url(../../assets/fonts/Amazon_bold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: AmazonMedium;
    src: url(../../assets/fonts/Amazon_medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AmazonBold, sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$corFundo;
    width: 100vw;
}

html {
    width: 100vw;
}

.container {
    padding: 0 5.6vw;
}

.title--big {
    font-size: 18px;
}

.title {
    font-size: 16px;
}

.title--small {
    font-size: 14px;
}